{% extends "base.html" %}


{% block content %}
    <div class="container">
      <div style="margin: 5px">
        <a class="btn btn-default" href="{% url 'check' %}" role="button">Check now</a>
      </div>
      <table class="table">
      <tr>
        <th>Action name</th>
        <th>Status</th>
        <th>Last check</th> 
        <th>Storage</th>
      </tr>
      {% for action in actions %}
      <tr>
        <td>{{action.name}}</td>
        <td>{{action.status}}</td>
        <td>{{action.last_check}}</td>
        <td>{{action.storage}}</td>
      </tr>
      {% endfor %}
      </table>
    </div>
{% endblock content %}